  <div>
    <h1>Cafe User Management</h1>
  <nav>
    <div class="flex flex-initial w-48 min-h-screen px-4 justify-center fixed">
      <div>
        <ul class="items-center px-2 py-3 space-y-7">
          <!-- <li *ngIf="!hasAuthToken()">
            <a routerLink="/login" class="text-black bg-slate-500 w-44 h-12 flex justify-center items-center rounded-2xl hover:ease-out hover:animate-pulse active:file:order-1 cursor-pointer">Login</a>
          </li> -->
          <!-- <li *ngIf="!hasAuthToken()">
            <a routerLink="/signup" class="text-black bg-slate-500 w-44 h-12 flex justify-center items-center rounded-2xl hover:ease-out hover:animate-pulse active:file:order-1 cursor-pointer">Signup</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  </div>





